In [1]:
# connect from Application server (RedHat Linux server) to Oracle TDW DB server (RedHat Linux server) through python.

import cx_Oracle
import pandas as pd
import datetime

try:
    conn = cx_Oracle.connect("<UserName>", "<password>", "<DataBase Name>:1621/<table name")   # conect to Oracle DB server
    
    """
    UserName : oracle TDW DB server username, 
    password: oracle TDW DB server password, 
    ServerName : "DB name :Port#/<table name")
    
    """

except Exception as err:
    print("Exception error while creating the connection", err)   # if connection failed, it will print as exception error

else:
    try:
        cur = conn.cursor()
        maxdate = str(datetime.datetime.today() - datetime.timedelta(days=30))

        query_timestamp ="1" + maxdate[0:2] + maxdate[5:7] + maxdate[8:10] + maxdate[11:13] + maxdate[14:16] + maxdate[17:19] + maxdate[20:23]

        sql =  """SELECT distinct "System_Name" FROM "KLZ_CPU_H" """ + """ where 'Timestamp'> '""" + query_timestamp + """' and "System_Name" in ('Server1, Server2, Server3, Server4, etc...') and "CPU_ID"='-1' """
        print(sql)
        result= cur.execute(sql)
        colList = [tuple[0] for tuple in result.description]
        row = cur.fetchall()
        rawdata= pd.DataFrame.from_records(row,columns=colList).copy()
        rawdata.to_csv('TDW_Output_Hourly.csv', sep = ",")
        #print(row)

        for index, record in enumerate(row):
            print("Index is ", index, ':', record)
    except Exception as err:
        print("Exception error while fetching the records", err)

    else:
        print("Completed ")

ModuleNotFoundError: No module named 'cx_Oracle'